In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_df = pd.read_csv(file)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Player Count
unique_heroes = len(heroes_df["SN"].unique())

In [4]:
#player count summary table
player_count_df = pd.DataFrame({"Total Players": [unique_heroes]}) 
player_count_df

   Total Players
0            576

In [5]:
#item count
unique_items = len(heroes_df["Item Name"].unique())

In [6]:
#average purchase price
average_price = round(heroes_df["Price"].mean(), 2)

In [7]:
#total number of purchases
total_purchases = heroes_df["Item Name"].count()

In [8]:
#total revenue
revenue = heroes_df["Price"].sum()

In [9]:
#Purchasing Analysis (Total) summary table
total_purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items],"Average Price":average_price,"Number of Purchases":total_purchases,"Total Revenue":revenue})
total_purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [10]:
#count of male players
male_df = heroes_df.loc[heroes_df["Gender"] == "Male","SN"]
total_male = len(male_df.unique())
#total percentage of male players
percent_male = round((total_male/unique_heroes)*100, 2)

In [11]:
#count of female players
female_df = heroes_df.loc[heroes_df["Gender"] == "Female","SN"]
total_female = len(female_df.unique())
#total percentage of male players
percent_female = round((total_female/unique_heroes)*100, 2)

In [12]:
#count of unkown players
other_df = heroes_df.loc[heroes_df["Gender"] == "Other / Non-Disclosed","SN"]
total_other = len(other_df.unique())
#total percentage of unknown players
percent_other = round((total_other/unique_heroes)*100, 2)

In [13]:
#Gender demographics summary table
gender_demographics_df = pd.DataFrame({"Total Count":[total_male,total_female,total_other],"Percentage of Players":[percent_male,percent_female,percent_other]})
gender_demographics_df

   Total Count  Percentage of Players
0          484                  84.03
1           81                  14.06
2           11                   1.91

In [14]:
#male purchasing analysis
male_purchasing_df = heroes_df.loc[heroes_df["Gender"] == "Male","Price"]
male_purchase_count = male_purchasing_df.count()

male_average_price = round(male_purchasing_df.mean(), 2)

male_purchase_total = male_purchasing_df.sum()

average_male_purchase = round(male_purchase_total/total_male,2)

In [15]:
#female purchasing analysis
female_purchasing_df = heroes_df.loc[heroes_df["Gender"] == "Female","Price"]
female_purchase_count = female_purchasing_df.count()

female_average_price = round(female_purchasing_df.mean(), 2)

female_purchase_total = female_purchasing_df.sum()

average_female_purchase = round(female_purchase_total/total_female,2)

In [16]:
#unknown gender purchasing analysis
other_purchasing_df = heroes_df.loc[heroes_df["Gender"] == "Other / Non-Disclosed","Price"]
other_purchase_count = other_purchasing_df.count()

other_average_price = round(other_purchasing_df.mean(), 2)

other_purchase_total = other_purchasing_df.sum()

average_other_purchase = round(other_purchase_total/total_other,2)

In [17]:
#purchasing analysis (gender) summary table
gender_purchasing_analysis_df = pd.DataFrame({"Purchase Count":[male_purchase_count,female_purchase_count,other_purchase_count],"Average Purchase Price":[male_average_price,female_average_price,other_average_price],"Total Purchase Value":[male_purchase_total,female_purchase_total,other_purchase_total],"Average Total Purchase per Person":[average_male_purchase,average_female_purchase,average_other_purchase]})
gender_purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
0,652,3.02,1967.64,4.07
1,113,3.20,361.94,4.47
2,15,3.35,50.19,4.56

In [18]:
unique_users = heroes_df.groupby("SN")

unique_users_df = pd.DataFrame(unique_users["Age"].unique())

In [34]:
#age demographics
bins = [0,9,14,19,24,29,34,39,90]

labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

unique_users_df["Age Demographics"] = pd.cut(unique_users_df["Age"], bins, labels=labels)

In [57]:
#count and percentage of each age range
age_count_group = unique_users_df.groupby("Age Demographics")
age_count = age_count_group.count()
print(age_count)
age_percentage = round((age_count/unique_heroes)*100, 2)

In [36]:
#age demographics summary table
age_demographics_df = pd.merge(age_count, age_percentage, on="Age Demographics", how="outer")
age_demographics_df = age_demographics_df.rename(columns={"Age_x":"Total Count","Age_y":"Percentage of Players"})
age_demographics_df

                  Total Count  Percentage of Players
Age Demographics
<10                        17                   2.95
10-14                      22                   3.82
15-19                     107                  18.58
20-24                     258                  44.79
25-29                      77                  13.37
30-34                      52                   9.03
35-39                      31                   5.38
40+                        12                   2.08

In [44]:
bins = [0,9,14,19,24,29,34,39,90]

labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

heroes_df["Age Demographics"] = pd.cut(heroes_df["Age"], bins, labels=labels)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [47]:
#pruchase count by age group
age_price_df = heroes_df.groupby("Age Demographics")
age_price_count=age_price_df["Price"].count()
age_price_count

Age Demographics
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Price, dtype: int64

In [50]:
#average purchase price by age group
average_price_age_group = round(age_price_df["Price"].mean(),2)
average_price_age_group

Age Demographics
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [51]:
#total purchase value by age group
age_group_purchase_total = age_price_df["Price"].sum()
age_group_purchase_total

Age Demographics
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [56]:
#average total purchase per person by age group
age_group_purchase_average = age_group_purchase_total/age_price_count
age_group_purchase_average

Age Demographics
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [81]:
# top spenders by SN
sn_group_df = heroes_df.groupby("SN")

sn_count = sn_group_df.count()

top_spenders = sn_count.sort_values("Purchase ID", ascending=False)

top_spenders_df = top_spenders[["Purchase ID"]]
top_spenders_df

              Purchase ID
SN
Lisosia93               5
Iral74                  4
Idastidru52             4
Asur53                  3
Inguron55               3
...                   ...
Hala31                  1
Haisurra41              1
Hailaphos89             1
Haestyphos66            1
Iskosian40              1

[576 rows x 1 columns]

In [83]:
#top average purchase price
sn_average_purchase = round(sn_group_df.mean(),2)

top_average_purchase = sn_average_purchase.sort_values("Price", ascending=False)

top_average_purchase_df = top_average_purchase[["Price"]]
top_average_purchase_df

                Price
SN
Dyally87         4.99
Yarithsurgue62   4.94
Chanirrasta87    4.94
Lirtilsa71       4.94
Ririp86          4.94
...               ...
Qilalista41      1.02
Isurria36        1.02
Aidai61          1.01
Chanirra79       1.01
Alo38            1.00

[576 rows x 1 columns]

In [87]:
sn_total_purchase = sn_group_df.sum()
top_total_purchase = sn_total_purchase.sort_values("Price", ascending=False)

top_total_purchase_df = top_total_purchase[["Price"]]
top_total_purchase_df

             Price
SN
Lisosia93    18.96
Idastidru52  15.45
Chamjask73   13.83
Iral74       13.62
Iskadarya95  13.10
...            ...
Ililsasya43   1.02
Irilis75      1.02
Aidai61       1.01
Chanirra79    1.01
Alo38         1.00

[576 rows x 1 columns]

In [90]:
top_merged = pd.merge(top_spenders_df, top_average_purchase_df, on="SN", how="outer")
top_merged_renamed = top_merged.rename(columns={"Purchase ID":"Purchase Count","Price":"Average Purchase Price"})
top_merged_renamed

              Purchase Count  Average Purchase Price
SN
Lisosia93                  5                    3.79
Iral74                     4                    3.40
Idastidru52                4                    3.86
Asur53                     3                    2.48
Inguron55                  3                    3.70
...                      ...                     ...
Hala31                     1                    1.02
Haisurra41                 1                    4.40
Hailaphos89                1                    3.81
Haestyphos66               1                    1.97
Iskosian40                 1                    3.07

[576 rows x 2 columns]

In [93]:
top_merged_final = pd.merge(top_merged_renamed, top_total_purchase_df, on="SN", how="outer")
top_merged_final
top_merged_final_renamed = top_merged_final.rename(columns={"Price":"Total Purchase Value"})
top_merged_final_renamed.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Iral74                    4                    3.40                 13.62
Idastidru52               4                    3.86                 15.45
Asur53                    3                    2.48                  7.44
Inguron55                 3                    3.70                 11.11