In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_df = pd.read_csv(file)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [39]:
#Player Count
unique_heroes = len(heroes_df["SN"].unique())

In [40]:
#player count summary table
player_count_df = pd.DataFrame({"Total Players": [unique_heroes]}) 
player_count_df

   Total Players
0            576

In [41]:
#item count
unique_items = len(heroes_df["Item Name"].unique())

In [42]:
#average purchase price
average_price = round(heroes_df["Price"].mean(), 2)

In [43]:
#total number of purchases
total_purchases = heroes_df["Item Name"].count()

In [44]:
#total revenue
revenue = heroes_df["Price"].sum()

In [8]:
#Purchasing Analysis (Total) summary table
total_purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items],"Average Price":average_price,"Number of Purchases":total_purchases,"Total Revenue":revenue})
total_purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [45]:
#count of male players
male_df = heroes_df.loc[heroes_df["Gender"] == "Male","SN"]
total_male = len(male_df.unique())
#total percentage of male players
percent_male = round((total_male/unique_heroes)*100, 2)

In [46]:
#count of female players
female_df = heroes_df.loc[heroes_df["Gender"] == "Female","SN"]
total_female = len(female_df.unique())
#total percentage of male players
percent_female = round((total_female/unique_heroes)*100, 2)

In [47]:
#count of unkown players
other_df = heroes_df.loc[heroes_df["Gender"] == "Other / Non-Disclosed","SN"]
total_other = len(other_df.unique())
#total percentage of unknown players
percent_other = round((total_other/unique_heroes)*100, 2)

In [48]:
#Gender demographics summary table
gender_demographics_df = pd.DataFrame({"Total Count":[total_male,total_female,total_other],"Percentage of Players":[percent_male,percent_female,percent_other]})
gender_demographics_df

   Total Count  Percentage of Players
0          484                  84.03
1           81                  14.06
2           11                   1.91

In [49]:
#male purchasing analysis
male_purchasing_df = heroes_df.loc[heroes_df["Gender"] == "Male","Price"]
male_purchase_count = male_purchasing_df.count()

male_average_price = round(male_purchasing_df.mean(), 2)

male_purchase_total = male_purchasing_df.sum()

average_male_purchase = round(male_purchase_total/total_male,2)

In [50]:
#female purchasing analysis
female_purchasing_df = heroes_df.loc[heroes_df["Gender"] == "Female","Price"]
female_purchase_count = female_purchasing_df.count()

female_average_price = round(female_purchasing_df.mean(), 2)

female_purchase_total = female_purchasing_df.sum()

average_female_purchase = round(female_purchase_total/total_female,2)

In [51]:
#unknown gender purchasing analysis
other_purchasing_df = heroes_df.loc[heroes_df["Gender"] == "Other / Non-Disclosed","Price"]
other_purchase_count = other_purchasing_df.count()

other_average_price = round(other_purchasing_df.mean(), 2)

other_purchase_total = other_purchasing_df.sum()

average_other_purchase = round(other_purchase_total/total_other,2)

In [27]:
#purchasing analysis (gender) summary table
gender_purchasing_analysis_df = pd.DataFrame({"Purchase Count":[male_purchase_count,female_purchase_count,other_purchase_count],"Average Purchase Price":[male_average_price,female_average_price,other_average_price],"Total Purchase Value":[male_purchase_total,female_purchase_total,other_purchase_total],"Average Total Purchase per Person":[average_male_purchase,average_female_purchase,average_other_purchase]})
gender_purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
0,652,3.02,1967.64,4.07
1,113,3.20,361.94,4.47
2,15,3.35,50.19,4.56

In [52]:
unique_users = heroes_df.groupby("SN")

unique_users_df = pd.DataFrame(unique_users["Age"].unique())

In [53]:
#age demographics
bins = [0,9,14,19,24,29,34,39,90]

labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

unique_users_df["Age Demographics"] = pd.cut(unique_users_df["Age"], bins, labels=labels)

In [54]:
#count and percentage of each age range
age_count = unique_users_df.groupby("Age Demographics").count()
age_percentage = round((age_count/unique_heroes)*100, 2)

In [38]:
#age demographics summary table
age_demographics_df = pd.merge(age_count, age_percentage, on="Age Demographics", how="outer")
age_demographics_df = age_demographics_df.rename(columns={"Age_x":"Total Count","Age_y":"Percentage of Players"})
age_demographics_df

                  Total Count  Percentage of Players
Age Demographics
<10                        17                   2.95
10-14                      22                   3.82
15-19                     107                  18.58
20-24                     258                  44.79
25-29                      77                  13.37
30-34                      52                   9.03
35-39                      31                   5.38
40+                        12                   2.08

In [124]:
age_group = heroes_df.groupby("Age")
purchasing_age_analysis_df = pd.DataFrame(age_group.count())
purchasing_age_analysis_df.head()

     Purchase ID  SN  Gender  Item ID  Item Name  Price  Age Demographics
Age
7              9   9       9        9          9      9                 9
8              8   8       8        8          8      8                 8
9              6   6       6        6          6      6                 6
10             9   9       9        9          9      9                 9
11             7   7       7        7          7      7                 7

In [123]:
bins = [0,9,14,19,24,29,34,39,90]

labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchasing_age_analysis_df["Age Demographics"] = pd.cut(purchasing_age_analysis_df["SN"], bins, labels=labels)
purchasing_age_analysis_df.head()

     Purchase ID  SN  Gender  Item ID  Item Name  Price Age Demographics
Age
7              9   9       9        9          9      9              <10
8              8   8       8        8          8      8              <10
9              6   6       6        6          6      6              <10
10             9   9       9        9          9      9              <10
11             7   7       7        7          7      7              <10

In [122]:
age_price_count = purchasing_age_analysis_df.groupby("Age Demographics").count()
age_price_count

                  Purchase ID  SN  Gender  Item ID  Item Name  Price
Age Demographics
<10                        22  22      22       22         22     22
10-14                       5   5       5        5          5      5
15-19                       0   0       0        0          0      0
20-24                       2   2       2        2          2      2
25-29                       1   1       1        1          1      1
30-34                       1   1       1        1          1      1
35-39                       2   2       2        2          2      2
40+                         5   5       5        5          5      5

In [128]:
sn_count_df = heroes_df.groupby("SN").count()
sn_count_df.sort_values("Purchase ID", ascending=False)

,Purchase ID,Age,Gender,Item ID,Item Name,Price,Age Demographics
SN,,,,,,,
Lisosia93,5,5,5,5,5,5,5
Iral74,4,4,4,4,4,4,4
Idastidru52,4,4,4,4,4,4,4
Asur53,3,3,3,3,3,3,3
Inguron55,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...
Hala31,1,1,1,1,1,1,1
Haisurra41,1,1,1,1,1,1,1
Hailaphos89,1,1,1,1,1,1,1
Haestyphos66,1,1,1,1,1,1,1
Iskosian40,1,1,1,1,1,1,1