In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_df = pd.read_csv(file)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [19]:
#Player Count
unique_heroes = len(heroes_df["SN"].unique())
unique_heroes

576

In [20]:
#item count
unique_items = len(heroes_df["Item Name"].unique())
unique_items

179

In [22]:
#average purchase price
average_price = round(heroes_df["Price"].mean(), 2)
average_price

3.05

In [23]:
#total number of purchases
total_purchases = heroes_df["Item Name"].count()
total_purchases

780

In [24]:
#total revenue
revenue = heroes_df["Price"].sum()
revenue

2379.77

In [41]:
#count of male players
male_df = heroes_df.loc[heroes_df["Gender"] == "Male","SN"]
total_male = len(male_df.unique())
total_male
#total percentage of male players
percent_male = round((total_male/unique_heroes)*100, 2)
percent_male

84.03

In [42]:
#count of female players
female_df = heroes_df.loc[heroes_df["Gender"] == "Female","SN"]
total_female = len(female_df.unique())
print(total_female)
#total percentage of male players
percent_female = round((total_female/unique_heroes)*100, 2)
print(percent_female)

81
14.06

In [44]:
#count of unkown players
other_df = heroes_df.loc[heroes_df["Gender"] == "Other / Non-Disclosed","SN"]
total_other = len(other_df.unique())
print(total_other)
#total percentage of unknown players
percent_other = round((total_other/unique_heroes)*100, 2)
print(percent_other)

11
1.91