In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_df = pd.read_csv(file)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [19]:
#Player Count
unique_heroes = len(heroes_df["SN"].unique())
unique_heroes

576

In [20]:
#item count
unique_items = len(heroes_df["Item Name"].unique())
unique_items

179

In [22]:
#average purchase price
average_price = round(heroes_df["Price"].mean(), 2)
average_price

3.05

In [23]:
#total number of purchases
total_purchases = heroes_df["Item Name"].count()
total_purchases

780

In [24]:
#total revenue
revenue = heroes_df["Price"].sum()
revenue

2379.77